/* Grid
-------------------------------------------------------------------------------
Use to create a 12 column grid layout:

    <div class="multiparagraph-flow-grid-*">
        <div class="grid__item">
            ...
        </div>
    </div>
*/

// select grid , but not bem children
[class^="multiparagraph-flow-grid-"]:not([class*="__"]),
[class*=" multiparagraph-flow-grid-"]:not([class*="__"]) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

[class^="multiparagraph-flow-grid-"] {
  // default full width for mobile
  [class^="grid__item"],
  [class*=" grid__item"]
  {
    grid-column: span 12;
  }
}

.multiparagraph-flow-grid {
  &-sixths {
    > .grid__item {
      @media (min-width: 768px) {
        grid-column: span 6;
      }
      @media (min-width: 1024px) {
        grid-column: span 2;
      }
    }
  }
  &-quarters {
    > .grid__item {
      @media (min-width: 768px) {
        grid-column: span 6;
      }
      @media (min-width: 1024px) {
        grid-column: span 3;
      }
    }
  }
  &-thirds {
    > .grid__item {
      @media (min-width: 768px) {
        grid-column: span 6;
      }
      @media (min-width: 1024px) {
        grid-column: span 4;
      }
    }
  }
  &-halves {
    > .grid__item {
      @media (min-width: 768px) {
        grid-column: span 6;
      }
    }
  }

  // Item Spans
  @for $i from 1 through 12 {
    &__item-span-#{$i} {
      @media (min-width: 1024px) {
        grid-column: span #{$i} !important;
      }
    }
  }

  // Grid Flow
  @media (min-width: 1024px) {
      &__item-flow_ {
          &full {
              grid-column: span 12;
            }
            &middle {
                grid-column: 4 / span 6;
            }
            &left {
                grid-column: 1 / span 7;
                grid-row: 1;
            }
            &right {
                grid-column: 6 / span 7;
                grid-row: 1;
            }
        }
    }
}


/* Gap large : attempt to create the illusion of a column wide gap
-----------------------------------------------------------
*/

.multiparagraph-flow-gap {
  gap: 2vw;
}


